<h4>Add new task</h4>

<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :details %>
  <%= f.text_field :details %>

  <%= f.submit %>
<% end %>
<br>
<br>
<%= link_to "Go back to all tasks", tasks_path %>
